{
	"DestinationName": "DEST_SAM2405_PPROP",
	"LanguageURLParam": "sap-language",
	"Headers": {
		"SAP-PASSPORT": "/SAPAssetManager/Rules/Common/Passport/GetSAPPassportHeaderValue.js"
	},
	"OfflineEnabled": false,
	"SourceType": "Mobile",
	"RestService": false
}