{
	"DestinationName": "SAP_SI_OData",
	"LanguageURLParam": "sap-language",
	"Headers": {
		"SAP-PASSPORT": "/SAPAssetManager/Rules/Common/Passport/GetSAPPassportHeaderValue.js"
	},
	"OfflineEnabled": true,
	"SourceType": "Mobile",
	"RestService": true
}